 @import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap'); 

 body{margin: 0;padding: 0;}
 .container{max-width: 1280px;margin: auto;padding: 0 20px;}
 .clr{clear: both;}
 header{background: url(../images/16469298831462.jpg);background-attachment: fixed;max-width: 100%;background-size: cover;padding: 0 0 50px 0;}


.nav{position: fixed;width: 100%;z-index: 1000;}
.nav img{max-width: 100%;}
.navbar-brand{width: 50%;}
.newClass{background-color: #faf7f71a;
  border: 1px dashed aliceblue}
  

 .bg-dark{background: #201e1ed1 !important; width: 100%;}

 nav .button{text-decoration: none;padding: 5px 10px; 
   color: white;}
   nav .btn{ background: linear-gradient(180deg, rgba(5,101,108,1) 6%, rgba(25,196,231,1) 99%);border-radius: 0px;}

    .navbar-toggler {
        padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
        font-size: var(--bs-navbar-toggler-font-size);
        line-height: 1;
        color: transparent;
        background-color: transparent;
        border:transparent;
        border-radius: var(--bs-navbar-toggler-border-radius);
        transition: var(--bs-navbar-toggler-transition);
        margin-right: 20px;}
        .navbar-collapse {
          flex-basis: 100%;
          flex-grow: 1;
          align-items: center;
          margin: 30px 20px;}

 header h1 {
            color: white;
            font-family: 'Rubik 80s Fade';
            font-size: 59px;
            margin: 8% 0 0 0;
            line-height: 66px;
            font-weight: normal;}



            a {
                color: black;
                text-decoration: none;
              }          
header p{font-size: 16px;color: white;margin: 30px 0;}  
header .col-lg{margin-top: 10%;}
header .col-lg img{max-width: 100%;}

nav .hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0,0,0,0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: linear-gradient(180deg, rgba(5,101,108,1) 6%, rgba(25,196,231,1) 99%);
  margin-top: 0;
  
}
nav .button {
  text-decoration: none;
  padding: 5px 10px;
  color: #080808;
  padding: 5px 20px;
  margin-left: auto;
  margin-right: 20px;
}   


.clearHeader{
    height: 200px; 
    background-color:  #201e1ed1 !important;
    position: fixed;
    top:200;
    width: 100%;   
}    

.darkHeader { height: 100px; }

 @media only screen and (max-width:1107px) {
  header h1{font-size: 50px;}
 }
 @media only screen and (max-width:992px) {
  header p{margin: 20px 0;}
  header .hvr-sweep-to-top{margin-top: 30px;}
  nav .hvr-sweep-to-top{margin-top: 0;}
 }
  
 @media only screen and (max-width:670px) {
  header h1{font-size: 40px;line-height: 51px;}
  nav .button{display: none;}
 }

 @media only screen and (max-width: 540px){
 header h1 {
   font-size: 32px;
   line-height: 43px;
   margin-top: 21%;
 }
}
 
@media only screen and (max-width: 540px){
header h1 {
  font-size: 23px;
  line-height: 32px;
  margin-top: 21%;
  
}
header p {font-size: 12px;}
header .hvr-sweep-to-top{font-size: 12px;padding: 10px 10px;}
}


.block{background: #000024;padding: 50px 0;text-align: center;}
.block h2{font-family: 'Rubik 80s Fade';font-size: 35px;color: white;text-align: center;position: relative;margin: 7% 0 0 0;}
.block h2::before{background: #19cccf;position: absolute;width: 63px;height: 3px;top: -25%;left: 50%;transform: translateX(-50%);content: '';}
.block h2::after{background: #19cccf;position: absolute;width: 63px;height: 3px;bottom: -25%;left: 50%;transform: translateX(-50%);content: '';}
.block p{font-size: 14px;color: #c0bebe;margin: 50px 0 30px 0;text-align: center;} 
.block img{max-width: 100%;}
.col-sm p{text-align: left;margin: 0;padding: 0;}

.box{
    height: 1000px;
    background-color: red;
}
#counter-section-container {
  width: 100%;
  text-align: center;
}

#counter-box-container {
  /*border: 1px solid #999999;*/
  overflow: hidden;
  display: inline-block;
}

#counter-box {
  /*width: 33.22%;*/
  width: 182px;
min-width: 150px;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  float: left;
  text-align: center;
  /*background-color: #111111;*/
  color: #cccccc;
  /*border: 1px solid #666666;*/
}

.counter {
  font-size: 70px;
  color:#19cccf;
  font-weight: bold;
}
.counter p{font-size: 20px;}

#counter-box p{margin: 0;
padding: 0;}


@media only screen and (max-width:885px) {
  .counter{font-size: 54px;}
}

@media only screen and (max-width:771px) {
  .counter{font-size: 41px;}
  #counter-box {width: 144px;}
}
@media only screen and (max-width:641px) {
  .counter{font-size: 30px;}
  #counter-box {width: 103px;min-width: 119px;}
}
@media only screen and (max-width:577px) {
  #roww{display: none;}
}
@media only screen and (max-width:541px) {
  .counter{font-size: 20px;}
  #counter-box {width: 83px;min-width: 93px;}
  .block .hvr-sweep-to-top{font-size: 12px;padding: 10px 10px;margin-top: 20px;}
  .block h2{font-size: 23px;}
  .block p{font-size: 12px;}
}
@media only screen and (max-width: 421px){
#counter-box {
  width: 67px;
  min-width: 57px;
}
}


.ph{background: #000024;padding: 50px 0 0 0;overflow: hidden;}
.ph h3{font-family: 'Rubik 80s Fade';font-size: 35px;color: white;text-align: left;position: relative;margin: 7% 0 0 0; ;}
.ph h3::before{background: #19cccf;position: absolute;width: 63px;height: 3px;top: -12%;left: 6%;transform: translateX(-50%);content: '';}
.ph h3::after{background: #19cccf;position: absolute;width: 63px;height: 3px;bottom: -12%;left: 6%;transform: translateX(-50%);content: '';}
.ph p{font-size: 14px;color: #c0bebe;margin: 50px 0 30px 0;text-align: left;}
.ph .col-lg img{max-width: 100%;}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 28px;
    border: 1px solid #5a595b;
    padding: 10px 20px;
    margin-right: 20px;
    color: #e20ea9;
    margin-top: 14px;}
    
    .ph a:hover .fa{color: #09dcf2;}

      @media only screen and (max-width:992px) {
        .ph{padding: 0 0 70px 0;}
        .ph h3{font-size: 30px;text-align: center;}
        .fa{font-size:20px ;padding: 10px 10px;}
        .ph h3::before{background: #19cccf;position: absolute;width: 63px;height: 3px;top: -12%;left: 50%;transform: translateX(-50%);content: '';}
.ph h3::after{background: #19cccf;position: absolute;width: 63px;height: 3px;bottom: -12%;left: 50%;transform: translateX(-50%);content: '';}
.ph p{text-align: center;}
.ph .col-lg{margin-top: 30px;}
      }

      @media only screen and (max-width:684px){
        .ph h3{font-size: 27px;}
      }
      @media only screen and (max-width:540px){
        .ph h3{font-size: 23px;}
        .ph p{font-size: 12px;}
        .fa{font-size:16px ;padding: 10px 10px;}
        .ph h3::before{background: #19cccf;position: absolute;width: 53px;height: 2px;top: -12%;left: 50%;transform: translateX(-50%);content: '';}
.ph h3::after{background: #19cccf;position: absolute;width: 53px;height: 2px;bottom: -12%;left: 50%;transform: translateX(-50%);content: '';}
      }
      @media only screen and (max-width:394px){
        .ph h3{font-size: 20px;}
        .ph p{font-size: 12px;}
        .fa{font-size:13px ;padding: 10px 10px;}
        .ph h3::before{background: #19cccf;position: absolute;width: 43px;height: 2px;top: -12%;left: 50%;transform: translateX(-50%);content: '';}
.ph h3::after{background: #19cccf;position: absolute;width: 43px;height: 2px;bottom: -12%;left: 50%;transform: translateX(-50%);content: '';}
      }

    .crypto{background: url(../images/crypto.png);padding: 50px 0;background-size: 100%;max-width: 100%;background-attachment: fixed;overflow: hidden;}
    .crypto h2{font-family: 'Rubik 80s Fade';font-size: 35px;color: white;text-align: center;position: relative;margin: 7% 0 0 0;}
    .crypto h2::before{background:#c74389;position: absolute;width: 63px;height: 3px;top: -25%;left: 50%;transform: translateX(-50%);content: '';}
.crypto h2::after{background:#c74389;position: absolute;width: 63px;height: 3px;bottom: -25%;left: 50%;transform: translateX(-50%);content: '';}
.col_l{width: 50%;float: left;}
.col_r{width: 50%;float: left;}

.crypto .dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
  position: relative;
  right: 0;
  
  padding-left: 69%;}
  .btn-secondary {
    --bs-btn-color: #0adcdc;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #09dcf2;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #09dcf2;}
    .box_c{background: #1710439e;margin: 0 30px;padding: 30px;}
    #btc{color: white;font-size: 20px;border-radius: 100px;width: 50px;height: 50px;background: #0adcdc;line-height: 29px;margin: 0;}
    .box_c .subcol_l{width: 40%;float: left;}
    .box_c .subcol_r{width: 60%;float: left;}
    .box_c .subcol_r p{color: white;font-size: 13px;margin: 0;}
    .box_c .subcol_r h5{color: white;font-size: 15px;font-weight: bold;}
    .col_l h3{color: white;font-weight: bold;}
    .col_r h6{color: white;margin-top: 33px;text-align: right;}
    .row-d{border-bottom: 3px solid #c74389;margin: 30px 0 0;}
    #box_c {color: rgb(180, 178, 178);margin: 20px 0;}

.crypto .row{margin: 7%  0;}
.circle{width: 80px;height: 80px;border-radius: 100px;background: #0adcdc;margin: auto;margin-top: 50%;text-align: center;}
.circle i{color: white;font-size: 30px;line-height: 80px;}
.dropdown-menu{background-color: #c74389 !important;}

@media only screen and (max-width:992px) {
  .crypto .col-lg-2{display: none;}
  .crypto .col-lg-5{margin-top: 30px;}
  #btc{color: white;font-size: 20px;border-radius: 100px;width: 40px;height: 40px;background: #0adcdc;line-height: 18px;margin: 0;}
}

@media only screen and (max-width:684px){
  .crypto h2{font-size: 27px;}
  .crypto h2::before{background:#c74389;position: absolute;width: 53px;height: 2px;top: -25%;left: 50%;transform: translateX(-50%);content: '';}
.crypto h2::after{background:#c74389;position: absolute;width: 53px;height: 2px;bottom: -25%;left: 50%;transform: translateX(-50%);content: '';}
}
@media only screen and (max-width:541px){
  .crypto h2{font-size: 23px;}
  .crypto h2::before{background:#c74389;position: absolute;width: 43px;height: 2px;top: -25%;left: 50%;transform: translateX(-50%);content: '';}
.crypto h2::after{background:#c74389;position: absolute;width: 43px;height: 2px;bottom: -25%;left: 50%;transform: translateX(-50%);content: '';}
.box_c .subcol_r h5{color: white;font-size: 12px;font-weight: bold;line-height: 30px;}
#box_c{font-size: 12px;}
}

@media only screen and (max-width:450px) {
  .col_l{width: 62%;float: left;}
.col_r{width: 38%;float: left;}
}

@media only screen and (max-width:384px) {
  #btc{color: white;font-size: 18px;border-radius: 100px;width: 30px;height: 30px;background: #0adcdc;line-height: 10px;margin: 0;}
  .box_c .subcol_r h5{color: white;font-size: 10px;font-weight: bold;line-height: 17px;}
  .box_c .subcol_r p{color: white;font-size: 10px;margin: 0;}
}

.works{background: url(../images/subbanner.png);padding: 7% 0;background-size: 100%;max-width: 100%;overflow: hidden;}
.works h2{font-family: 'Rubik 80s Fade';font-size: 35px;color: white;text-align:left;position: relative;margin: 7% 0 0 0;}
.works h2::before{background:#19cccf;position: absolute;width: 63px;height: 3px;top: -8%;left: 5%;transform: translateX(-50%);content: '';}
.works h2::after{background:#19cccf;position: absolute;width: 63px;height: 3px;bottom: -8%;left: 5%;transform: translateX(-50%);content: '';}
.works p{font-size: 14px;color: #c0bebe;margin: 50px 0 30px 0;text-align: left;}
.works .subcol{width: 50%;float: none;}

.works .subcol ul{padding: 0;padding-left: 15px;text-align: left;}
.works .subcol ul li{list-style: none;}
.works .subcol ul li::before{ content: "\2023";
  color: #e20ea9;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -1em;}
  .works .subcol ul li a{color: #c0bebe;}
  .works .col-lg img{max-width:100%}

  @media only screen and (max-width:992px) {
    .works .col-lg{margin: 30px 0;}
    .works h2::before{background:#19cccf;position: absolute;width: 63px;height: 3px;top: -8%;left: 50%;transform: translateX(-50%);content: '';}
.works h2::after{background:#19cccf;position: absolute;width: 63px;height: 3px;bottom: -8%;left: 50%;transform: translateX(-50%);content: '';}
.works h2{text-align: center;font-size: 30px;}
.works p{text-align: center;}
.works .subcol{padding-left: 16%;}

  }
  @media only screen and (max-width:684px) {
    .works .col-lg{margin: 30px 0;}
    .works h2::before{background:#19cccf;position: absolute;width: 53px;height: 2px;top: -8%;left: 50%;transform: translateX(-50%);content: '';}
.works h2::after{background:#19cccf;position: absolute;width: 53px;height: 2px;bottom: -8%;left: 50%;transform: translateX(-50%);content: '';}
.works h2{text-align: center;font-size: 27px;}
.works .subcol ul li a{font-size: 14px;}
.works .subcol{padding-left: 14%;}

  }
  @media only screen and (max-width:541px) {
    
    .works h2::before{background:#19cccf;position: absolute;width: 43px;height: 2px;top: -8%;left: 50%;transform: translateX(-50%);content: '';}
.works h2::after{background:#19cccf;position: absolute;width: 43px;height: 2px;bottom: -8%;left: 50%;transform: translateX(-50%);content: '';}
.works h2{text-align: center;font-size: 23px;}
.works .subcol ul li a{font-size: 12px;}
.works p{font-size: 12px;}
.works .subcol{padding-left: 12%;}
.works .hvr-sweep-to-top{font-size: 12px;padding: 10px 10px;margin-top: 20px}
  }

  @media only screen and (max-width:389px){
    .works h2{text-align: center;font-size: 20px;}
    .works .subcol ul li a{font-size: 8px;}
  }

.logo{padding: 80px 0  0;}
.owl-carousel .owl-item img {
  display: block;
  width: 50%;}

  
  .owl-theme .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;}

    .owl-theme .owl-nav.disabled + .owl-dots {
      margin-top: 30px;
    }

@media only screen and (max-width:540px) {
  .owl-theme .owl-dots .owl-dot span {
    width: 7px;
    height: 7px;}
  }
.roadmap{background: url(../images/subbanner.png);padding: 7% 0;background-size: 100%;max-width: 100%;overflow: hidden;}
.roadmap h2{font-family: 'Rubik 80s Fade';font-size: 35px;color: white;text-align: center;position: relative;}
 .roadmap h2::before{background:#c74389;position: absolute;width: 63px;height: 3px;top: -25%;left: 50%;transform: translateX(-50%);content: '';}
.roadmap h2::after{background:#c74389;position: absolute;width: 63px;height: 3px;bottom: -25%;left: 50%;transform: translateX(-50%);content: '';}
.roadmap p{font-size: 14px;color: #c0bebe;margin: 50px 0 30px 0;text-align: center;}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.roadmap ul {
  padding: 50px 0;
}

.roadmap ul li {
  position:relative;
  list-style-type: none;
  width: 2px;
  background-color: #0adcdc;
  margin: 0 auto;
  padding-top: 50px;
}

.roadmap ul li::after {
  background: #c74389;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 0;
  }


ul li div{
  position: relative;
  width: 250px;
  
  border-radius: 5px;
  bottom: 0;
  background: transparent;
}

ul li:nth-child(odd) div {
  left: 45px;
}

ul li:nth-child(even) div {
  left: -297px;
}

time {
  font-weight: normal;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  color:#c0bebe;
}

.roadmap ul li p{font-weight: bold;font-size: 20px;color: white;margin: 0;text-align: left;}

ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}


@media only screen and (max-width:992px) {
  .roadmap h2{font-size: 30px;margin-top: 30px;}
}
@media only screen and (max-width:687px) {
  .roadmap h2{font-size: 27px;margin-top: 30px;}
  .roadmap h2::before{background:#c74389;position: absolute;width: 53px;height: 2px;top: -25%;left: 50%;transform: translateX(-50%);content: '';}
  .roadmap h2::after{background:#c74389;position: absolute;width: 53px;height: 2px;bottom: -25%;left: 50%;transform: translateX(-50%);content: '';}
  .roadmap ul li p {
    font-weight: bold;
    font-size: 15px;
    color: white;
    margin: 0;
    text-align: left;}
}
@media only screen and (max-width:540px) {
  .roadmap h2{font-size: 23px;margin-top: 30px;}
  .roadmap h2::before{background:#c74389;position: absolute;width: 43px;height: 2px;top: -25%;left: 50%;transform: translateX(-50%);content: '';}
  .roadmap h2::after{background:#c74389;position: absolute;width: 43px;height: 2px;bottom: -25%;left: 50%;transform: translateX(-50%);content: '';}
  .roadmap ul li p {
    font-weight: bold;
    font-size: 13px;
    color: white;
    margin: 0;
    text-align: left;}
    time {
      font-weight: normal;
      font-size: 12px;
      display: block;
      margin-bottom: 10px;
      color: #c0bebe;
    }
}




.review{background: url(../images/subbanner2.png);padding: 7% 0 0 ;background-size: 100%;max-width: 100%;background-attachment: fixed;overflow: hidden;}
.review h2{font-family: 'Rubik 80s Fade';font-size: 35px;color: white;text-align:left;position: relative;margin: 7% 0 0 0;}
.review h2::before{background:#19cccf;position: absolute;width: 63px;height: 3px;top: -8%;left: 5%;transform: translateX(-50%);content: '';}
.review h2::after{background:#19cccf;position: absolute;width: 63px;height: 3px;bottom: -8%;left: 5%;transform: translateX(-50%);content: '';}
.review p{font-size: 18px;color: white; margin-top: 30px;}
.review .col-lg img{max-width: 100%;}

@media only screen and (max-width:992px) {
  .review h2{font-size: 30px;text-align: center;margin-top: 60px;}
  .review h2::before{background:#19cccf;position: absolute;width: 63px;height: 3px;top: -8%;left: 50%;transform: translateX(-50%);content: '';}
.review h2::after{background:#19cccf;position: absolute;width: 63px;height: 3px;bottom: -8%;left: 50%;transform: translateX(-50%);content: '';}
.review p{font-size: 15px;}
}
@media only screen and (max-width:785px){
  .review h2{font-size: 27px;}
}
@media only screen and (max-width:685px){
  .review h2{font-size: 25px;}
  .review h2::before{background:#19cccf;position: absolute;width: 53px;height: 2px;top: -8%;left: 50%;transform: translateX(-50%);content: '';}
.review h2::after{background:#19cccf;position: absolute;width: 53px;height: 2px;bottom: -8%;left: 50%;transform: translateX(-50%);content: '';}
.review p{font-size: 13px;}
}
@media only screen and (max-width:540px){
  .review h2{font-size: 23px;}
  .review h2::before{background:#19cccf;position: absolute;width: 43px;height: 2px;top: -8%;left: 50%;transform: translateX(-50%);content: '';}
.review h2::after{background:#19cccf;position: absolute;width: 43px;height: 2px;bottom: -8%;left: 50%;transform: translateX(-50%);content: '';}
.review p{font-size: 12px;}
}


.news{background: #000024;padding: 7% 0 9%;text-align: center;overflow: hidden;}
.news h2{font-family: 'Rubik 80s Fade';font-size: 35px;color: white;text-align: center;position: relative;margin-top: 3%;}
 .news h2::before{background:#c74389;position: absolute;width: 63px;height: 3px;top: -25%;left: 50%;transform: translateX(-50%);content: '';}
.news h2::after{background:#c74389;position: absolute;width: 63px;height: 3px;bottom: -25%;left: 50%;transform: translateX(-50%);content: '';}
.news .col-lg{margin-top: 8%;}
.newsbox{background: #28284e;padding: 20px 44px;margin: auto; width: 382px;}
.newsbox h6{color: #0adcdc;font-size: 15px;text-align: left;font-weight: 600;margin-top: 30px;}
.newsbox:hover h6{color: #c74389;font-size: 15px;text-align: left;font-weight: 600;margin-top: 30px;}
.newsbox h3{color: white;font-size: 25px;text-align: left;font-weight: bold;margin: 30px 0;}
.newsbox:hover h3{color: #0adcdc;font-size: 25px;text-align: left;font-weight: bold;margin: 30px 0;}
.newsbox p{color:#c0bebe;font-size: 15px;text-align: left;}
.newsbox:hover p{color:white;font-size: 15px;text-align: left;}
.newsbox h5{color: white;font-size: 15px;text-align: left;margin: 30px 0;font-weight: 600;}
.newsbox:hover h5{color: #0adcdc;font-size: 15px;text-align: left;margin: 30px 0;font-weight: 600;}
.hvr-grow-shadow:active, .hvr-grow-shadow:focus, .hvr-grow-shadow:hover {
  box-shadow: 10px 10px 10px rgba(9, 61, 107, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.hvr-grow-shadow {
 transition-duration: 0.8s;
}

/* .news .button{padding: 10px;display: inline-block;text-decoration: none;color: black !important;}
.news .btn{background: linear-gradient(180deg, rgba(138,8,115,1) 11%, rgba(236,15,175,1) 99%);border-radius: 0px;margin: 60px 0 0 0;} */
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 5px 5px 0px #f7077b;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  background: linear-gradient(180deg, rgba(5,101,108,1) 6%, rgba(25,196,231,1) 99%);
  margin-top: 60px;
  padding: 10px 20px;
}


.hvr-sweep-to-top::before {

  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background: linear-gradient(90deg, rgba(5,101,108,1) 6%, rgba(25,196,231,1) 99%);}

@media only screen and (max-width:1250px) {
  .newsbox{width: 335px;}
}
@media only screen and (max-width:1094px) {
  .newsbox{width: 300px;}
  .newsbox h3 {
    color: white;
    font-size: 20px;}
    .newsbox p {
      color: #c0bebe;
      font-size: 12px;
      text-align: left;
    }
}
@media only screen and (max-width:994px) {
  .newsbox{width: 382px;}
  .newsbox h3 {
    color: white;
    font-size: 23px;}
    .newsbox p {
      color: #c0bebe;
      font-size: 15px;
      text-align: left;
    }
    .news h2{font-size: 30px;}
}
@media only screen and (max-width:685px) {
  .newsbox{width: 300px;}
  .newsbox h3 {
    color: white;
    font-size: 20px;}
    .newsbox p {
      color: #c0bebe;
      font-size: 12px;
      text-align: left;
    }
    .news h2{font-size: 27px;}
    .news h2::before{background:#c74389;position: absolute;width: 53px;height: 2px;top: -25%;left: 50%;transform: translateX(-50%);content: '';}
.news h2::after{background:#c74389;position: absolute;width: 53px;height: 2px;bottom: -25%;left: 50%;transform: translateX(-50%);content: '';}
.news h5{font-size: 12px;}
}
@media only screen and (max-width:541px) {
  .newsbox{width: 280px;}
  .newsbox h3 {
    color: white;
    font-size: 15px;}
    .newsbox p {
      color: #c0bebe;
      font-size: 10px;
      text-align: left;
    }
    .news h2{font-size: 23px;}
    .news h2::before{background:#c74389;position: absolute;width: 43px;height: 2px;top: -25%;left: 50%;transform: translateX(-50%);content: '';}
.news h2::after{background:#c74389;position: absolute;width: 43px;height: 2px;bottom: -25%;left: 50%;transform: translateX(-50%);content: '';}
.news .hvr-sweep-to-top{font-size: 12px;padding: 10px 10px;}
}


  footer{background: url(../images/footer1.png);background-size: 100%;max-width: 100%;overflow: hidden;}
  footer .col-lg-5{border-right: 1px solid #c0bebe;padding:7% 80px ;}
  .col-lg-5 a .fa{border-radius: 50%;
    height: 50px;
    width: 50px;
    line-height: 30px;
    color: white;
    font-size: 15px;
    text-align: center;
    border: 1px solid white;
  }
  .col-lg-5 a:hover i{color: #0adcdc;}
  .col-lg-5 img{margin-top: 30px;}

  .col-lg-5 h3{font-size: 20px;font-weight: bold;color: white;margin: 30px 0;}
  .col-lg-5 p{font-size: 15px;color: #c0bebe;margin: 30px 0;}

  .col-lg-7{padding: 7% 80px;}
  .col-lg-7 h3{font-size: 20px;font-weight: bold;color: white;margin: 30px 0;}
  #em{background: #28284e;border: none;padding: 5px 20px;}
  #sb{background: #0adcdc;border: none;padding: 5px 20px;}
  #em::placeholder{color: white;}
.subcol{width: 50%;float: left;}
footer  ul{padding: 0;margin: 0;}
footer ul li{list-style: none;}
footer ul li a{text-decoration: none;color: #c0bebe;font-size: 15px;}
footer ul li a:hover{color: #e20ea9;}
[data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
  transition-duration: 1.4s;
}

footer .col-lg-5 a .fa {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  line-height: 39px;
  color: white;
  font-size: 24px;
  text-align: center;
  border: 1px solid white;
}
footer .col-lg-5 a:hover .fa{color: #09dcf2;}

ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 1.3s ease-in-out;
}

.copy{background: #000024;padding: 20px 0}
.copy p{margin-left: 64px;}

@media only screen and (max-width:993px) {
  footer .col-lg-5{border:none}
  footer .subcol{float: none;width: 100%;}
  footer .col-lg-5 a .fa {
    border-radius: 50%;
    height: 53px;
    width: 53px;
    line-height: 32px;
    color: white;
    font-size: 19px;
    text-align: center;
    border: 1px solid white;
  }
}


@media only screen and (max-width:540px){
  footer .col-lg-5 p{font-size: 12px;}
  footer .col-lg-7 p{font-size: 12px;}
  #em{font-size: 12px;}
  #sb{font-size: 12px;}
  footer .col-lg-5 h3{font-size: 15px;}
  footer .col-lg-7 h3{font-size: 15px;}
  footer .col-lg-5 a .fa {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 21px;
    color: white;
    font-size: 15px;
    text-align: center;
    border: 1px solid white;

  }
  .copy p{font-size: 9px;}
}
